@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;700&display=swap');


body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: #444;
}

h1 {
  font-weight: normal;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#board{
  border-collapse: collapse;
}

#board td{
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

.hide{
  display: none;
}

.show{
  display: block;
}
td.alive {
  background-color: hsl(30, 3%, 12%);
}

#control_panel {
  margin: 10px 0 50px 0;
}

.button {
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: #2ba6cb;
  color: #fefefe; 
  font-family: 'Roboto Mono', monospace;
}

.button:hover, .button:focus {
  background-color: #258dad;
}

.button:focus {
  outline: dashed 1px #2ba6cb;
}

h1{
  font-family: 'Press Start 2P', cursive;
}

#rule {
  padding: 10px;
  background-color: #2ba6cb;
  border: none;
  margin: 1rem 0;
  color : white;
  border-radius: 5px;

}

#rule:hover{
  background-color : black;
  color: white;
  transition: 0.6s ease;
}

#game-rules{
  padding: 10px;
  background-color: #fefefe;
  margin-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 200;
  box-shadow: 0px 4px 34px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 4px 34px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 34px 1px rgba(0,0,0,0.75);
}
